<div class="swiper-custom">
    <div class="pagination swiper-case-pagination"></div>
    <div class="navigation swiper-case-navigation">
        <div class="nav-prev"></div>
        <div class="nav-next"></div>
    </div>
    <div class="swiper-container swiper-case">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="case-tile">
                    <div class="case-title">
                        Представление интересов одного из крупнейших онлайн-ритейлеров
                    </div>
                    <a class="link" href="#">Подробнее</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="case-tile">
                    <div class="case-title">
                        Представление крупного производителя хлебобулочных изделий в серии споров о взыскании задолженности
                    </div>
                    <a class="link" href="#">Подробнее</a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="case-tile">
                    <div class="case-title">
                        Представление интересов одного из крупнейших онлайн-ритейлеров
                    </div>
                    <a class="link" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>