<form class="form needs-validation" novalidate>
    <div class="form-block">
        <div class="form-group">
            <input type="text" class="form-control" id="name" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">Ваше имя</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="phoneNumber" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">Номер телефона</label>
        </div>
    </div>
    <div class="form-block">
        <div class="form-group">
            <input type="text" class="form-control" id="email" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">E-mail</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="message" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form-label">Комментарий</label>
        </div>
    </div>
    <div class="form-bottom">
        <button type="submit" class="btn">Отправить</button>
        <div class="form-text">Нажимая кнопку «Отправить», я соглашаюсь с <a href="#">политикой конфиденциальности</a></div>
    </div>
</form>